.row{


    padding : 30px;
}

body{

    background-image: url("bg-3.png");
    background-size: cover;
}
nav {

    border-style: outset;
    border-color:rgb(84, 86, 87)
}

nav li {
    margin-left: 180px;
    margin-right: 130px;
    display: inline-block;
}

.question-content {
opacity:0.8;
background-color:rgb(229, 239, 240);
border-style: groove;
border-color:rgb(223, 235, 234);
border-width:10px;

}

.choices{

    text-align: left;
}

#question-column{

 margin-left:200px;


}

#option-a:focus{

    background-color:rgb(76, 106, 116);
}